/* * {
    border: solid 2px red;
} */


.student-list-header {
    color: darkblue;
    font-style: oblique;
}

.student-list {
    list-style-type: square;
}

.yellow-bg{
    background-color: yellow;
}